
.bg2{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.the-button{
    display: grid;
    grid-template-rows: 100px 100px 0 0;
    padding: 5%;
    background: rgb(174,234,238);
    background: radial-gradient(circle, rgba(174,
    234,238,1) 0%, rgba(173,233,148,1) 100%);
}
.h1{
    font-family: arial;
    font-size: xx-large;
}
.h2{
    font-family: arial;
    font-size: xx-large;
}
.ul{
    font-size: larger;
    font-family: Arial;
    margin: 0;
    padding-bottom: 0;
}
.ul ::marker{
    color: lightgreen;
    font-weight: bold;
}
.back_button_3{
   background-color: rgb(63, 202, 93);
    color: white;
    border:none;
    height: 36px;
    width: 90px;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.15s;
    
}
.back_button_3:hoover{
    opacity: 0.8;
}
.back_button_3:active{
    opacity:0.5;
}
.maps{
    background-color: rgb(63, 202,93);
    color: white;
    border:none;
    height: 36px;
    width: 90px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 850px;
    transition: opacity 0.15s;

}
.image{
    width: 400px;
}
.images{
    width: 400px;
}