.map-background{
    background-repeat: repeat-x;
    background-position-x: 10cqmin;
    background: rgb(174,234,238);
    background: radial-gradient(circle, rgba(174,234,238,1) 0%, rgba(173,233,148,1) 100%);
}

.back_button_4{
   background-color: rgb(63, 202, 93);
    color: white;
    border:none;
    height: 36px;
    width: 105px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 30px;
    transition: opacity 0.15s;
}
.back_button_4:hoover{
    opacity: 0.8;
}
.back_button_4:active{
    opacity:0.5;
}
.dir-image{
    object-fit: cover;
}
.dir1{
    width: 500px;
}
.dir2{
    width: 500px;
}