    .body{
        background-repeat: repeat-x;
        background-position-x: 10cqmin;
    }
    .header{
        display: inline-block;
        height: 100px
    }
    .welcome{
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
        font-weight: bolder;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 88px;
        color: rgb(115, 117, 115);
        background: rgb(238,174,202);
        background: radial-gradient(circle,
       rgba(238,174,202,1) 0%, rgba(173,
       233,148,1) 100%);
        align-content: center;
        padding-top: 10px; 
    }
    .box img{
        width: 50%;
        padding: 5px;
    }
    .box1 img{
        object-fit: cover;
    }
    .standard-button{
       background-color: rgb(63, 202,93);
        color:white;
        border:none;
        height: 36px;
        width: 105px;
        border-radius: 15px;
        cursor:pointer;
        margin-left: 20px;
        margin-right: 30px;
        transition: opacity 0.15s;
    }
    .standard-button:hoover {
        opacity: 0.8;
    }
    .standard-button:active {
        opacity: 0.5;
    }
    .corner-button{
        background-color: rgb(63, 202, 93);
        color: white;
        border:none;
        height: 36px;
        width: 105px;
        border-radius: 15px;
        cursor:pointer;
        margin-left:20px;
        margin-right:30px;
        transition: opacity 0.15s;
    }
    .corner-button:hoover{
        opacity: 0.8;
    }
    .corner-button:active{
        opacity: 0.5;
    }
    .bedroom-button {
       background-color: rgb(63, 202,93);
        color: white;
        border:none;
        height: 36px;
        width: 105px;
        border-radius: 15px;
        cursor:pointer;
        margin-left:20px;
        margin-right:30px;
        transition: opacity 0.15s;
    }
    .bedroom-button:hoover{
        opacity: 0.8;
    }
    .bedroom-button:active{
        opacity: 0.5;
    }
    .map-button{
       background-color: rgb(63, 202,93);
        color: white;
        border:none;
        height: 36px;
        width: 105px;
        border-radius: 15px;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 30px;
        transition: opacity 0.15s;
    }
    .map-button:hoover{
        opacity: 0.8;
    }
    .map-button:active{
        opacity: 0.5;
    }
    
  .ul-text{
    align-content: space-around;
  }
  .detail-info{
    line-height: 1.8;
  }
  .contact, .phone-number{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
   
    margin-left: 0px;
    
  }
  .line-icon{
    height: 20px;
    
    margin-left: 0px;
    padding: 0;
  }
  .line-id{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
  }

  
  